.input_parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_parameters input {
    margin: 5px;
    padding: 5px;
    width: 600px;
}
.input_parameters_az {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_parameters_az input {
    margin: 5px;
    padding: 5px;
    width: 100px;
}
.input_parameters_com {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_parameters_com input {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

header {
  background-color: #999999;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем заголовок по горизонтали */
  overflow: hidden;
  padding: 0 20px;
}

h1 {
  color: #000000;
  line-height: 1;
  font-size: calc(0.7rem + 1vw);
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center; /* Центрируем текст заголовка */
  margin: 0; /* Убираем внешние отступы */
}

.logo {
  height: 55px;
  width: 80px;
  margin-right: auto; /* Размещаем иконку слева */
}
.btn {
        font-size: 20px; /* Устанавливаем размер текста кнопки */
        padding: 10px 20px; /* Устанавливаем отступы внутри кнопки */
        margin: 10px;
        width: 500px;
        height: 55px;
        border-radius: 10px;
}
.butt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }