.input_parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px; /* Ограничение ширины контейнера */
    margin: 100px auto; /* Центрирование контейнера */
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.input_parameters input {
    margin: 7px;
    padding: 7px;
    width: 600px;
    border-radius: 6px;
    border-width: 1px;
    font-size: calc(0.9rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.input_parameters button {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 6px;
    text-align: center;
    width: 130px;
    border-radius: 6px;
    border-width: 2px;
    font-size: calc(1rem);
    font-weight: bold;
    font-family: Arial, sans-serif;

}

.input_parameters span {
    display: flex;
    margin: 3px 0;
    font-size: calc(1.0rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}

.input_parameters_az {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px; /* Ограничение ширины контейнера */
    margin: 100px auto; /* Центрирование контейнера */
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.input_parameters_az input {
    margin: 7px;
    padding: 7px;
    width: 100px;
    border-radius: 6px;
    border-width: 1px;
    font-size: calc(0.9rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.input_parameters_az span {
    margin: 3px 0;
    font-size: calc(1.0rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.centered_az {
    flex: 1;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row_az {
    display: flex;
    margin: 10px 10px;
}

.column1_az,
.column2_az {
    flex: 1;
    width: 30%; /* Добавляем равное распределение ширины для столбцов */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_parameters_az button {
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 5px;
    text-align: center;
    width: 120px;
    border-radius: 6px;
    border-width: 2px;
    font-size: calc(1rem);
    font-weight: bold;
    font-family: Arial, sans-serif;

}


.input_parameters_com {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px; /* Ограничение ширины контейнера */
    margin: 100px auto; /* Центрирование контейнера */
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.input_parameters_com input {
    margin: 7px;
    padding: 7px;
    width: 200px;
    border-radius: 6px;
    border-width: 1px;
    font-size: calc(0.9rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.input_parameters_com span {
    margin: 3px 0;
    font-size: calc(1.0rem);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.row_com {
    display: flex;
    margin: 10px 10px;
}

.column1_com {
    flex: 1;
    width: 30%; /* Добавляем равное распределение ширины для столбцов */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column2_com{
    flex: 1;
    width: 30%; /* Добавляем равное распределение ширины для столбцов */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_parameters_com button {
    margin-bottom: 20px;
    margin-top: 4px;
    padding: 5px;
    text-align: center;
    width: 220px;
    border-radius: 6px;
    border-width: 2px;
    font-size: calc(1rem);
    font-weight: bold;
    font-family: Arial, sans-serif;

}



header {
  background-color: #999999;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем заголовок по горизонтали */
  overflow: hidden;


}

h1 {
  color: #000000;
  line-height: 1;
  font-size: calc(0.7rem + 1vw);
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center; /* Центрируем текст заголовка */
  margin: 0; /* Убираем внешние отступы */
}

h2 {
  color: #000000;
  line-height: 1;
  font-size: calc(0.7rem + 1vw);
  font-weight: normal;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; /* Центрируем текст заголовка */
  padding-bottom: 15px; /* Отступ снизу */
  border-bottom: 6px solid #999999; /* Темная полоса снизу */
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  font-size: 20px; /* Устанавливаем размер текста кнопки */
  padding: 10px 20px; /* Устанавливаем отступы внутри кнопки */
  margin: 10px;
  width: 500px;
  height: 55px;
  border-radius: 10px;
  text-align: center;

}

.butt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin: 0;
}

.btn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

