{% extends "base.html" %}

{% block content %}

<h2>Заполнение данных Абонентов</h2>

<main class="row_vi">
    <div class="column1_vi" style="width: 10%, min(5%, 100px); min-width: 100px;">
        <h3>Выбор абонента</h3>
        <div class="search-select-container">
            <input id="abonent-search" type="text" placeholder="Поиск абонента...">
            <div id="search-results" class="search-results hidden"></div>
            
            <!-- <input id="abonent-search" type="text" placeholder="Поиск абонента...">
            <div id="search-results" class="search-results hidden"></div> -->
        </div>
    </div>

    <div class="column2_vi" style="overflow-y: auto; width: 80%;">
        <div class="container__nav">
            <div style="width: 100%">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
                    <div class="table-name" style="border-bottom: none; display: inline-block; margin: 0;">Профиль субъекта абонентcкого терминала</div>
                </div>
                <div class="table-wrapper" >
                    <div class="table-scroll">
                        <table id="subjects_table" class="mainTable">
                            <thead>
                                <tr>
                                    <th>Идентификатор</th>
                                    <th>Тип абонента</th>
                                    <th>Предприятие абонентcкого терминала</th>
                                    <th>Ссылка на органы власти, ведомства и прочие гос. органы</th>
                                    <th>Страна принадлежности субъекта абонентcкого терминала</th>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Паспорт</th>
                                    <th>Адрес</th>
                                    <th>Дата рождения</th>
                                    <th>Дополнительный номер телефона</th>
                                    <th>Электронный адрес</th>
                                    <th>Логины в социальных сетях</th>
                                    <th>Дата регистрации в системе</th>
                                    <th>Дата окончания регистрации в системе</th>
                                    <th>Наличие запрета на связь</th>
                                    <th>Время начала запрета на связь</th>
                                    <th>Время окончания запрета на связь</th>
                                </tr>
                            </thead>
                            <tbody id="subjects-tbody">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="table-buttons">
                        <button class="insert">Добавить</button>
                        <button class="edit">Редактировать</button>
                        <button class="copy">Добавить с копированием</button>
                        <button class="delete">Удалить</button>
                    </div>
                </div>
            </div>
    
            <div style="width: 100%; margin-top: 10px;">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
                    <div class="table-name" style="border-bottom: none; display: inline-block; margin: 0;">Профиль абонентского терминала</div>
                </div>
                <div class="table-wrapper">
                    <div class="table-scroll">
                        <table id="terminals-table" class="mainTable">
                            <thead>
                                <tr>
                                    <th>Идентификатор</th>
                                    <th>Наименование абонентского терминала в системе</th>
                                    <th>Номер телефона абонентского терминала</th>
                                    <th>Абонент</th>
                                    <th>Тип абонента</th>
                                    <th>Статус абонентcкого терминала</th>
                                    <th>Вид оборудования абонентcкого терминала</th>
                                    <th>Группа абонентов</th>
                                    <th>Важность абонентcкого терминала</th>
                                    <th>Вид связи</th>
                                    <th>Уровень права абонентcкого терминала на занятие каналов</th>
                                    <th>Тип размещения абонентcкого терминала</th>
                                    <th>Минимальная продолжительность доступности для отбора возможных сеансов, сек.</th>
                                    <th>Максимальная разрешенная продолжительность доступности для отбора возможных сеансов, сек.</th>
                                    <th>Рекомендуемая минимальная продолжительность сеанса для назначения/выбора сеанса связи, сек.</th>
                                    <th>Дата регистрации в системе</th>
                                    <th>Дата окончания регистрации в системе</th>
                                    <th>Наличие действующего запрета на связь</th>
                                    <th>Время начала запрета на связь</th>
                                    <th>Время окончания запрета на связь</th>
                                </tr>
                            </thead>
                            <tbody id="terminals-tbody">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="table-buttons">
                            <button class="insert">Добавить</button>
                            <button class="edit">Редактировать</button>
                            <button class="copy">Добавить с копированием</button>
                            <button class="delete">Удалить</button>
                    </div>
                </div>
            </div>
    
            <div style="overflow-y: auto; display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin-top: 20px;">
                <div style="width: 100%; overflow-x: auto; overflow-y: auto;">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
                        <div class="table-name" style="border-bottom: none; display: inline-block; margin: 0;">Типы абонентов</div>
                    </div>
                        
                    <table id="types-table" class="mainTable">
                            <thead>
                                <tr>
                                    <th>Идентификатор</th>
                                    <th>Наименование типов абонентов</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>

                </div>
    
                <div style="width: 100%; overflow-x: auto; overflow-y: auto;">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
                        <div class="table-name" style="border-bottom: none; display: inline-block; margin: 0;">Статусы абонентов</div>
                    </div>
                    
                        <table id="statuses-table" class="mainTable">
                            <thead>
                                <tr>
                                    <th>Идентификатор</th>
                                    <th>Наименование статусов абонентов</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    
                </div>
    
                <div style="width: 100%; overflow-x: auto; overflow-y: auto">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
                        <div class="table-name" style="border-bottom: none; display: inline-block; margin: 0;">Важность абонентcкого терминала</div>
                    </div>
                    
                        <table id="priorities-table" class="mainTable">
                            <thead>
                                <tr>
                                    <th>Идентификатор</th>
                                    <th>Наименование важности абонентcкого терминала</th>
                                </tr>
                            </thead>
                            <tbody id="priorities-table tbody">
                                
                            </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </div>
</main>

<div id="myModal" class="modal">
    <div class="modal__dialog">
        <div class="modal-content">
            <div class="modal-actions-menu"><div id="timer-settings"></div><div class="modal-buttons-container"><button class="modal-resize-btn" title="Закрыть">[x]</button></div></div>
            <h4 class="modal-header">Настройки</h4>
            <div class="modal_wrapper">
                <div class="wrapper-column">
                
                    <h4>Параметры отображения</h4>
                    <div>
                        <div class="task-parameter">
                            <label for="color-ka-select-stand">Цвет рамки стандартного района  <span></span> :</label>
                            <select id="color-ka-select-stand" name="color-ka-select" class="parameter-select" onchange="">
                                <option value="#0000ff">Синий</option>
                                <option value="#00bfff">Голубой</option><option value="#0400b0">
                                    Тёмно-синий</option>
                                    <option value="#000000">Чёрный</option>
                                    <option value="#ff0000">Красный</option>
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#7b6ac4">Фиолетовый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#42f5ce">Бирюзовый</option>
                            </select>
                            </div>
                            <div class="task-parameter">
                            <label for="color-ka-select-big">Цвет рамки большого района  <span></span> :</label>
                            <select id="color-ka-select-big" name="color-ka-select" class="parameter-select" onchange="">
                                <option value="#f4a900">Оранжевый</option>
                                <option value="#0000ff">Синий</option>
                                <option value="#00bfff">Голубой</option><option value="#0400b0">
                                    Тёмно-синий</option>
                                    <option value="#000000">Чёрный</option>
                                    <option value="#ff0000">Красный</option>
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#7b6ac4">Фиолетовый</option>
                                    
                                    <option value="#42f5ce">Бирюзовый</option>
                            </select>
                            </div>
                            <div class="task-parameter">
                            <label for="color-ka-select-short">Цвет рамки малого района  <span></span> :</label>
                            <select id="color-ka-select-short" name="color-ka-select" class="parameter-select" onchange="">
                                <option value="#00FF00">Зеленый</option>
                                <option value="#f4a900">Оранжевый</option>
                                <option value="#0000ff">Синий</option>
                                <option value="#00bfff">Голубой</option><option value="#0400b0">
                                    Тёмно-синий</option>
                                    <option value="#000000">Чёрный</option>
                                    <option value="#ff0000">Красный</option>
                                    
                                    <option value="#7b6ac4">Фиолетовый</option>
                                    
                                    <option value="#42f5ce">Бирюзовый</option>
                            </select>
                            </div>
                            <div class="task-parameter">
                            <label for="color-ka-select-zapr">Цвет рамки запрещенного района  <span></span> :</label>
                            <select id="color-ka-select-zapr" name="color-ka-select" class="parameter-select" onchange="">
                                <option value="#ff0000">Красный</option>
                                <option value="#00FF00">Зеленый</option>
                                <option value="#f4a900">Оранжевый</option>
                                <option value="#0000ff">Синий</option>
                                <option value="#00bfff">Голубой</option><option value="#0400b0">
                                    Тёмно-синий</option>
                                    <option value="#000000">Чёрный</option>
                                    
                                    
                                    <option value="#7b6ac4">Фиолетовый</option>
                                    
                                    <option value="#42f5ce">Бирюзовый</option>
                            </select>
                            </div>
                    </div>
                </div>
                <div class="wrapper-column">
                    
                    <h4>Настройки карты</h4>
                    <div>
                        <span>Проекция:</span>
                        <select class="default-list" id="projectionSelect">
                        <option value="EPSG:3857">EPSG:3857</option>
                            <option value="EPSG:4326" selected="">EPSG:4326</option>
                        </select>
                    </div>
                    <div class="task-parameter" style="display: flex; flex-direction: column; align-items: center; justify-items: end; gap: 10px; width: 100%; margin-top: 20px;">
                        <button style="width: 100%;" class="default-button parameter-input btn-load-settings" disabled="">Загрузить сохраненные настройки</button>
                        <button style="width: 100%;" class="default-button parameter-input btn-save-settings" disabled="">Сохранить текущие настройки</button>
                        <button style="width: 100%;" class="default-button parameter-input btn-reset-settings" disabled>Загрузить настройки по умолчанию</button>
                    </div>
                    
                    <div style="display: none">
                        <span>Тип зоны действия:</span>
                        <select class="default-list" id="typeZonaCircle" onchange="changeTypeZonaCircle(this.value)">
                        <option value="circle">в виде круга</option>
                        <option value="polygon" selected="">в виде полигона</option>
                        </select>
                    </div>
                    <div style="display: none">
                        <input type="checkbox" id="multiWorldCheckbox" name="scales" onchange="changeMultiWorld(this.checked)">
                        <label for="scales">Убрать ограничения на движения</label>
                    </div>
                    <div style="display: none">
                        <input type="checkbox" id="wrapX" name="scales" onchange="changeWrapX(this.checked)" checked="">
                        <label for="scales">Включить повтор слева и справа</label>
                    </div>
                    </div>
            </div>
            
            <div class="closes">
                <button class="close">Закрыть</button>
            </div>
        </div>
    </div>     
</div>
<div class="loader-container loader-container--hidden">
    <span class="loader"></span>
    <span class="loader-container__title">Загрузка...</span>
</div>
{% endblock %}
