<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Служебная система</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="ref">
            <a class="home-ref" href="/" title="Главная страница">
                <img class="home" src="{{ url_for('static', filename='img/home.svg') }}" alt="Стартовая страница">
            </a>
        </div>

        <h1>Служебная система</h1>
    </header>

    {% block content %}

    <main class="butt">
        <a href="/maps_territorial_districts"><button class="btn">Редактор территориальных районов</button></a>
        <a href="/monotonous_time_service"><button class="btn">Cервис монотонного времени</button></a>
        <a href="/abonents"><button class="btn">Заполнение данных для абонента</button></a>
        <a href="/viewing_tables"><button class="btn">Редактор данных</button></a>
        <a href="/azimuth_and_elevation_angle"><button class="btn">Определение азимута и угла места</button></a>
        <a href="/get_coordinates"><button class="btn">Нахождение координат через API</button></a>
        <a href="/communication_availability"><button class="btn">Вычисление доступности связи</button></a>
    </main>

    {% endblock %}
    <script src="{{ url_for('static', filename='js/abonents.js') }}"type="module"></script>
    <script src="{{ url_for('static', filename='js/Modal.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/db.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"type="module"></script>
</body>
</html>