<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АРМ администратора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="ref">
            <a class="home-ref" href="/" title="Главная страница">
                <img class="home" src="{{ url_for('static', filename='img/home.svg') }}" alt="Стартовая страница">
               
            </a>
            <div id="timer-start"></div>
        </div>

        <h1>АРМ администратора</h1>
        <button id="settingsBtn" class="button_settings">
            <img class="settings" src="/static/img/gear.svg" alt="Настройки" title="Настройки">
        </button>
    </header>

    {% block content %}

    <main class="butt">
        <a href="/maps_territorial_districts"><button class="btn">Редактор территориальных районов</button></a>
        <a href="/monotonous_time_service"><button class="btn">Cервис монотонного времени</button></a>
        <a href="/abonents"><button class="btn">Заполнение данных для абонента</button></a>
        <a href="/viewing_tables"><button class="btn">Редактор данных</button></a>
        <a href="/azimuth_and_elevation_angle"><button class="btn">Определение азимута и угла места</button></a>
        <a href="/get_coordinates"><button class="btn">Нахождение координат через API</button></a>
        <a href="/communication_availability"><button class="btn">Вычисление доступности связи</button></a>
    </main>
    <div id="myModal" class="modal">
        <div class="modal__dialog">
          
            <div class="modal-content">
                <div class="modal-actions-menu"><div id="timer-settings"></div><div class="modal-buttons-container"><button class="modal-resize-btn" title="Закрыть">[x]</button></div></div>
                <h4 class="modal-header">Настройки</h4>
                <div class="modal_wrapper">
                    <div class="wrapper-column">
                   
                        <h4>Параметры отображения</h4>
                        <div>
                            <div class="task-parameter">
                                <label for="color-ka-select-stand">Цвет рамки стандартного района  <span></span> :</label>
                                <select id="color-ka-select-stand" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        <option value="#f4a900">Оранжевый</option>
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-big">Цвет рамки большого района  <span></span> :</label>
                                <select id="color-ka-select-big" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-short">Цвет рамки малого района  <span></span> :</label>
                                <select id="color-ka-select-short" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-zapr">Цвет рамки запрещенного района  <span></span> :</label>
                                <select id="color-ka-select-zapr" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#ff0000">Красный</option>
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                      </div>
                    </div>
                    <div class="wrapper-column">
                       
                        <h4>Настройки карты</h4>
                        <div>
                          <span>Проекция:</span>
                          <select class="default-list" id="projectionSelect">
                            <option value="EPSG:3857">EPSG:3857</option>
                            <option value="EPSG:4326" selected="">EPSG:4326</option>
                          </select>
                        </div>
                        <div class="task-parameter" style="display: flex; flex-direction: column; align-items: center; justify-items: end; gap: 10px; width: 100%; margin-top: 20px;">
                            <button style="width: 100%;" class="default-button parameter-input btn-load-settings" disabled="">Загрузить сохраненные настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-save-settings" disabled="">Сохранить текущие настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-reset-settings" disabled>Загрузить настройки по умолчанию</button>
                        </div>
                        
                        <div style="display: none">
                          <span>Тип зоны действия:</span>
                          <select class="default-list" id="typeZonaCircle" onchange="changeTypeZonaCircle(this.value)">
                            <option value="circle">в виде круга</option>
                            <option value="polygon" selected="">в виде полигона</option>
                          </select>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="multiWorldCheckbox" name="scales" onchange="changeMultiWorld(this.checked)">
                          <label for="scales">Убрать ограничения на движения</label>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="wrapX" name="scales" onchange="changeWrapX(this.checked)" checked="">
                          <label for="scales">Включить повтор слева и справа</label>
                        </div>
                      </div>
                </div>
                
                <div class="closes">
                    <button class="close">Закрыть</button>
                </div>
            </div>
        </div>
        
    </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/abonents.js') }}"type="module"></script>
    <script src="{{ url_for('static', filename='js/Modal.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/db.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"type="module"></script>
</body>
</html>