{% extends "base.html" %}

{% block content %}

    <h2>Вычисление доступности связи</h2>

    <div class="input_parameters_com">
        <div class="row_com">

            <div class="column1_com">
                <span>Минимально доступное время первого сеанса связи, сек</span>
                <input id="acceptable_session_time_in_sec" type="text" value="100">
                <span>Шаг движения подспутниковой точки, сек</span>
                <input id="dates_delta_in_sec" type="text" value="15">
                <span>Прогнозируемый промежуток связи, сек</span>
                <input id="interval_in_sec" type="text" value="1000">
                <span>Минимально допустимое время сеанса связи, сек</span>
                <input id="min_session_time_in_sec" type="text" value="10">
                <span>Время начала сеанса связи</span>
                <input id="start_datetime" type="text" value="2024-04-25T11:23:49.523Z">
            </div>

            <div class="column2_com">
                <span>Параметры абонента:</span>
                        <br>
                <span>Широта , градусы</span>
                <input id="lat" type="text" value="54.1">
                <span>Долгота, градусы</span>
                <input id="lon" type="text" value="48.3">
                <span>Имя абонента</span>
                <input id="name" type="text" value="Абонент 1">
            </div>
        </div>

        <div class="btn2">
            <button id="task-btn" onclick="communication_availability()">Отправить</button>
        </div>

        <span>ОТВЕТ:</span>
        <br>
        <span id="response"></span>

    </div>
    <div id="myModal" class="modal">
        <div class="modal__dialog">
          
            <div class="modal-content">
                <div class="modal-actions-menu"><div id="timer-settings"></div><div class="modal-buttons-container"><button class="modal-resize-btn" title="Закрыть">[x]</button></div></div>
                <h4 class="modal-header">Настройки</h4>
                <div class="modal_wrapper">
                    <div class="wrapper-column">
                   
                        <h4>Параметры отображения</h4>
                        <div>
                            <div class="task-parameter">
                                <label for="color-ka-select-stand">Цвет рамки стандартного района  <span></span> :</label>
                                <select id="color-ka-select-stand" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        <option value="#f4a900">Оранжевый</option>
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-big">Цвет рамки большого района  <span></span> :</label>
                                <select id="color-ka-select-big" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-short">Цвет рамки малого района  <span></span> :</label>
                                <select id="color-ka-select-short" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-zapr">Цвет рамки запрещенного района  <span></span> :</label>
                                <select id="color-ka-select-zapr" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#ff0000">Красный</option>
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                      </div>
                    </div>
                    <div class="wrapper-column">
                       
                        <h4>Настройки карты</h4>
                        <div>
                          <span>Проекция:</span>
                          <select class="default-list" id="projectionSelect">
                            <option value="EPSG:3857">EPSG:3857</option>
                             <option value="EPSG:4326" selected="">EPSG:4326</option>
                          </select>
                        </div>
                        <div class="task-parameter" style="display: flex; flex-direction: column; align-items: center; justify-items: end; gap: 10px; width: 100%; margin-top: 20px;">
                            <button style="width: 100%;" class="default-button parameter-input btn-load-settings" disabled="">Загрузить сохраненные настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-save-settings" disabled="">Сохранить текущие настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-reset-settings" disabled>Загрузить настройки по умолчанию</button>
                        </div>
                        
                        <div style="display: none">
                          <span>Тип зоны действия:</span>
                          <select class="default-list" id="typeZonaCircle" onchange="changeTypeZonaCircle(this.value)">
                            <option value="circle">в виде круга</option>
                            <option value="polygon" selected="">в виде полигона</option>
                          </select>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="multiWorldCheckbox" name="scales" onchange="changeMultiWorld(this.checked)">
                          <label for="scales">Убрать ограничения на движения</label>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="wrapX" name="scales" onchange="changeWrapX(this.checked)" checked="">
                          <label for="scales">Включить повтор слева и справа</label>
                        </div>
                      </div>
                </div>
                
                <div class="closes">
                    <button class="close">Закрыть</button>
                </div>
            </div>
        </div>
{% endblock %}
