{% extends "base.html" %}

{% block content %}

<h2>Редактирование КА</h2>
<main style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="information_request" id="ka-list">
        <span class="csus">Список КА:</span>

        <div id="ids-Ka"></div>
    </div>
    <div class="information_request" id="Tle-ka">
        <span class="csus">Редактирование КА</span>
        <div id="ka-Data"></div>
        <button disabled id="send-Ka">Сохранить</button>
    </div>

</main>
<dialog   class="mdl-dialog" id="dialog-res">
    <button type="button" onclick="this.closest('dialog').classList.add('hidden');this.closest('dialog').close();">
        Закрыть
    </button>
</dialog>
<script src="{{ url_for('static', filename='js/editKa.js') }}"type="module"></script>
{% endblock %}