{% extends "base.html" %}

{% block content %}
<div class="loader-container loader-container--hidden">
    <span class="loader"></span>
    <span class="loader-container__title">Загрузка...</span>
</div>
<h2>Редактирование данных КА</h2>

<main >
    <div class="container-Ka">
        <div class="information_request" id="ka-list">
            <span class="csus">Список КА:</span>

            <div id="ids-Ka"></div>
        </div>
        <div class="information_request" id="Tle-ka">
            <span class="csus">Данные КА</span>
            <div id="ka-Data"></div>
            <button disabled id="send-Ka">Сохранить данные КА</button>
        </div>
        <div id="arrows">
            <img class="icon" id="arrow-left" src="./../static/img/arrow-left.svg" alt="arrow-left">
            <img class="icon" id="arrow-right" src="./../static/img/arrow-right.svg" alt="arrow-right">
        </div>

        <div class="information_request" id="Tle-lines">
            <span class="csus">TLE</span>
            <div id="tle-Data"></div>


        </div>
    </div>
    <div class="grid-container">
        <button class="grid-btn" id="recalc">Пересчитать местоположение всех КА</button>
        <a href="/" id="exit-home"> <button class="grid-btn" id="exit">Выйти без записи</button></a>
    </div>


</main>

<dialog   class="mdl-dialog" id="dialog-res">
    <button type="button" onclick="this.closest('dialog').classList.add('hidden');this.closest('dialog').close();">
        Закрыть
    </button>
</dialog>
<script src="{{ url_for('static', filename='js/editKa.js') }}"type="module"></script>
{% endblock %}
