{% extends "base.html" %}

{% block content %}

    <h2>Нахождение координат</h2>

    <div class="input_parameters">
        <div class="btn2">
            <span>Первая строка TLE</span>
            <input id="first_TLE_line" type="text" value="1 25544U 98067A   24095.11237420  .00015431  00000-0  27870-3 0  9991">
            <span>Вторая строка TLE</span>
            <input id="second_TLE_line" type="text" value="2 25544  51.6412 322.6552 0004444  35.1429 100.9890 15.49904998447051">
            <button id="task-btn" onclick="finding_coordinates()">Рассчитать</button>
        </div>
        <div class="row_az">
            <div class="column1_az">
                <span>Широта:</span>
                <span>Долгота:</span>
                <span>Высота:</span>
            </div>
            <div class="column2_az">
                <span id="lat.degrees"></span>
                <span id="lon.degrees"></span>
                <span id="height.km"></span>
            </div>
        </div>
    </div>
{% endblock %}
