{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/ol@v10.3.1/dist/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.3.1/ol.css">
    <h2>Редактор территориальных районов</h2>
        <div class="container">
            <div class="information_request">
                <span class="csus">Территориальные районы </span>
            </div>
            <div class="map-container" id="map"></div>
            <div class="right-panel">
                <button id="button-collapse-right"></button>
                <div class="information_request">
                    
                   
                    <div class="csus">Панель управления </div>
                    <br>
                    <div class="data-district">
            
                        <span>Широта левого нижнего угла, градусы:</span>
                        <input id="lat_ln" type="text" value="">
                        <br>
                        <span>Долгота левого нижнего,угла градусы:</span>
                        <input id="lon_ln" type="text" value=""> 
                        <br>
                        <span>Широта правого верхнего угла, градусы:</span>
                        <input id="lat_pv" type="text" value="">
                        <br>
                        <span>Долгота правого верхнего,угла градусы:</span>
                        <input id="lon_pv" type="text" value=""> 
                    </div>   
                       
                   <div>Выберите тип территориального района:</div>
                    <select class="select" name="districts" id="type-district">
                        <option value="0">Стандартный район</option>
                        <option value="1">Большой район </option>
                        <option value="2"> Малый район </option>
                        <option value="3"> Запрещенный район </option>
                      </select>
                    <button id="add-district">Добавить район </button>
                        <button id="daelete-district">Удалить район</button>
                </div>
            </div>
          
        </div>
        
        
        
       
        
        
        
        <script src="{{ url_for('static', filename='js/maps.js') }}"type="module"></script>
        

       
    
{% endblock %}