{% extends "base.html" %}

{% block content %}
<script src="../static/js/ol.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/ol@v10.3.1/dist/ol.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.3.1/ol.css">

    <div class="wrapper-top"><div class="head-wrapper">Сервис географического ресурса</div>
        <button id="clearMapButton" class="default-button clear-map" alt="Очистить карту" title="Очистить карту">
            <img src="../static/img/clear_map.svg" alt="Очистить карту" title="Очистить карту">
            <span>Очистить карту</ы>
          </button>  
   
    
</div>    

    
    <!-- <div class="bar-btn"><button id="clearMapButton" alt="Очистить карту" title="Очистить карту">
        <img src="./../static/img/clear_map.svg" alt="Очистить карту" title="Очистить карту">
        Очистить карту
      </button></div> -->
    
        <div class="container">
            <div class="left-panel">
                <button id="button-collapse-left"></button>   
            <div class="information_request left">
                <div class="csus">Территориальные районы </div>
                <div class="table-scroll">
                    <table class="district-Table">
                        <thead>
                           
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    </div>
            </div>
            
        </div>
            <div class="map-container" id="map"></div>
            <div class="right-panel">
                <button id="button-collapse-right"></button>
                <div class="information_request right">
                    
                   
                    <div class="csus">Характеристики района </div>
                    <br>
                    <div class="data-district">
                        <label for="name_district">Наименование района:</label>
                        <input id="name_district" type="text" value="" autocomplete="off">
                        <label for="name_district_short">Наименование района краткое:</label>
                        <input id="name_district_short" type="text" value="" autocomplete="off">
                        <label for="lat_ln">Широта левого нижнего угла, градусы:</label>
                        <input id="lat_ln" type="number" value="" autocomplete="off">
                       
                        <label for="lon_ln">Долгота левого нижнего,угла градусы:</label>
                        <input id="lon_ln" type="number" value="" autocomplete="off"> 
                        
                        <label for="lat_pv">Широта правого верхнего угла, градусы:</label>
                        <input id="lat_pv" type="number" value="" autocomplete="off">
                        
                        <label for="lon_pv">Долгота правого верхнего,угла градусы:</label>
                        <input id="lon_pv" type="number" value="" autocomplete="off">
                        <button id="view-all-district">Отобразить все районы</button>   
                        <button id="view-type-district">Отобразить выбранный тип района</button>
                    </div> 
                    <div class="data-district">
                        <div>Выберите тип территориального района:</div>
                    <select class="select" name="districts" id="type-district">
                        
                      </select>
                    <button id="add-district">Добавить район </button>
                        <button id="daelete-district">Удалить район</button>
                    </div>
                </div>   
                    
            </div>
          
        </div>
        <div id="myModal" class="modal">
        <div class="modal__dialog">
          
            <div class="modal-content">
                <div class="modal-actions-menu"><div id="timer-settings"></div><div class="modal-buttons-container"><button class="modal-resize-btn" title="Закрыть">[x]</button></div></div>
                <h4 class="modal-header">Настройки</h4>
                <div class="modal_wrapper">
                    <div class="wrapper-column">
                   
                        <h4>Параметры отображения</h4>
                        <div>
                            <div class="task-parameter">
                                <label for="color-ka-select-stand">Цвет рамки стандартного района  <span></span> :</label>
                                <select id="color-ka-select-stand" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        <option value="#f4a900">Оранжевый</option>
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-big">Цвет рамки большого района  <span></span> :</label>
                                <select id="color-ka-select-big" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        <option value="#00FF00">Зеленый</option>
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-short">Цвет рамки малого района  <span></span> :</label>
                                <select id="color-ka-select-short" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        <option value="#ff0000">Красный</option>
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                              <div class="task-parameter">
                                <label for="color-ka-select-zapr">Цвет рамки запрещенного района  <span></span> :</label>
                                <select id="color-ka-select-zapr" name="color-ka-select" class="parameter-select" onchange="">
                                    <option value="#ff0000">Красный</option>
                                    <option value="#00FF00">Зеленый</option>
                                    <option value="#f4a900">Оранжевый</option>
                                    <option value="#0000ff">Синий</option>
                                    <option value="#00bfff">Голубой</option><option value="#0400b0">
                                        Тёмно-синий</option>
                                        <option value="#000000">Чёрный</option>
                                        
                                        
                                        <option value="#7b6ac4">Фиолетовый</option>
                                        
                                        <option value="#42f5ce">Бирюзовый</option>
                                </select>
                              </div>
                      </div>
                    </div>
                    <div class="wrapper-column">
                       
                        <h4>Настройки карты</h4>
                        <div>
                          <span>Проекция:</span>
                          <select class="default-list" id="projectionSelect">
                            <option value="EPSG:3857">EPSG:3857</option>
                             <option value="EPSG:4326" selected="">EPSG:4326</option>
                          </select>
                        </div>
                        <div class="task-parameter" style="display: flex; flex-direction: column; align-items: center; justify-items: end; gap: 10px; width: 100%; margin-top: 20px;">
                            <button style="width: 100%;" class="default-button parameter-input btn-load-settings" disabled="">Загрузить сохраненные настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-save-settings" disabled="">Сохранить текущие настройки</button>
                            <button style="width: 100%;" class="default-button parameter-input btn-reset-settings" disabled>Загрузить настройки по умолчанию</button>
                        </div>
                        
                        <div style="display: none">
                          <span>Тип зоны действия:</span>
                          <select class="default-list" id="typeZonaCircle" onchange="changeTypeZonaCircle(this.value)">
                            <option value="circle">в виде круга</option>
                            <option value="polygon" selected="">в виде полигона</option>
                          </select>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="multiWorldCheckbox" name="scales" onchange="changeMultiWorld(this.checked)">
                          <label for="scales">Убрать ограничения на движения</label>
                        </div>
                        <div style="display: none">
                          <input type="checkbox" id="wrapX" name="scales" onchange="changeWrapX(this.checked)" checked="">
                          <label for="scales">Включить повтор слева и справа</label>
                        </div>
                      </div>
                </div>
                
                <div class="closes">
                    <button class="close">Закрыть</button>
                </div>
            </div>
        </div>
        
    </div>
        
        
       
        
        
        <script src="{{ url_for('static', filename='js/ViewUtils.js') }}"type="module"></script>
        <script src="{{ url_for('static', filename='js/maps.js') }}"type="module"></script>
        
        
        
        

       
    
{% endblock %}