{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/ol@v10.3.1/dist/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.3.1/ol.css">

    <div class="wrapper-top"><div>Редактор территориальных районов</div>
        <button id="clearMapButton" class="default-button clear-map" alt="Очистить карту" title="Очистить карту">
            <img src="../static/img/clear_map.svg" alt="Очистить карту" title="Очистить карту">
            <span>Очистить карту</ы>
          </button>  
   
    
</div>    

    
    <!-- <div class="bar-btn"><button id="clearMapButton" alt="Очистить карту" title="Очистить карту">
        <img src="./../static/img/clear_map.svg" alt="Очистить карту" title="Очистить карту">
        Очистить карту
      </button></div> -->
    
        <div class="container">
            <div class="left-panel">
                <button id="button-collapse-left"></button>   
            <div class="information_request left">
                <div class="csus">Территориальные районы </div>
                <div class="table-scroll">
                    <table class="district-Table">
                        <thead>
                           
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    </div>
            </div>
            
        </div>
            <div class="map-container" id="map"></div>
            <div class="right-panel">
                <button id="button-collapse-right"></button>
                <div class="information_request right">
                    
                   
                    <div class="csus">Характеристики района </div>
                    <br>
                    <div class="data-district">
                        <span>Наименование района:</span>
                        <input id="name_district" type="text" value="">
                        <span>Наименование района краткое:</span>
                        <input id="name_district_short" type="text" value="">
                        <div>Широта левого нижнего угла, градусы:</div>
                        <input id="lat_ln" type="text" value="">
                       
                        <span>Долгота левого нижнего,угла градусы:</span>
                        <input id="lon_ln" type="text" value=""> 
                        
                        <span>Широта правого верхнего угла, градусы:</span>
                        <input id="lat_pv" type="text" value="">
                        
                        <span>Долгота правого верхнего,угла градусы:</span>
                        <input id="lon_pv" type="text" value="">
                        <button id="view-all-district">Отобразить все районы</button>   
                   
                    </div> 
                    <div class="data-district">
                        <div>Выберите тип территориального района:</div>
                    <select class="select" name="districts" id="type-district">
                        <option value="1">Стандартный район</option>
                        <option value="2">Большой район </option>
                        <option value="3"> Малый район </option>
                        <option value="4"> Запрещенный район </option>
                      </select>
                    <button id="add-district">Добавить район </button>
                        <button id="daelete-district">Удалить район</button>
                    </div>
                </div>   
                    
            </div>
          
        </div>
        
        
        
       
        
        
        
        <script src="{{ url_for('static', filename='js/maps.js') }}"type="module"></script>
        
        

       
    
{% endblock %}