{% extends "base.html" %}

{% block content %}

    <h2>Cервис монотонного времени</h2>
   
    <div class="input_parameters_times_serv">
        <div class="row_az">
            <div class="name_times">Текущее время в системе:</div>
            <br>
            <div id="timer"></div>
           

        </div>
       

        <div class="times_loc">
            <div class="row_az">

                <div class="name_times">Текущее  локальное время:</div>
                <br>
                <div id="timer-loc"></div>

            </div>
        </div>
         
        <div class="btn2">
            <br>
            <br>
            <button id="task-btn-time">Синхронизировать</button>
        </div>
    </div>
    
{% endblock %}