{% extends "base.html" %}

{% block content %}

    <h2>Редактор данных</h2>

    <main class="tables_vi">
        <div class="loader-container"></div>
        <div class="row_vi">
            <div class="column1_vi">
            <h3>Список таблиц</h3>
                <div class="container__nav"></div>
            </div>
            <div class="column2_vi">
                <div class="container_content"></div>

                <div class="modal hide">
                    <div class="modal__dialog">
                        <div class="modal__content">
                            <form action="#">
                                <div data-close class="modal__close">&times;</div>
                                <div class="modal__title">Редактирование таблицы</div>
                                <button class="btn btn_dark btn_min">Сохранить</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="confirmation-modal hide">
                    <div class="modal__dialog">
                        <div class="confirmation-modal__content">
                            <div class="confirmation-modal__title">Подтвердите удаление</div>
                            <div class="confirmation-modal__buttons">
                                <button class="btn btn_confirm">Удалить</button>
                                <button class="btn btn_cancel">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="confirmation-modal-add hide">
                    <div class="modal__dialog">
                        <div class="confirmation-modal__content-add">
                            <div class="confirmation-modal__title-add">Добавление строки</div>
                            <div class="confirmation-modal__buttons-add">
                                <button class="btn btn_confirm-add">Соханить</button>
                                <button class="btn btn_cancel">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>




{% endblock %}