{% extends "base.html" %}

{% block content %}

    <h2>Редактор таблиц</h2>

    <main class="tables_vi">
        <div class="loader-container">
<!--            <div class="spinner"></div>-->
        </div>
        <div class="row_vi">
            <div class="column1_vi">
            <h3>Список таблиц</h3>
                <div class="container__nav">
                </div>
                <div class="container__nav"></div>
<!--                <div class="container_content"></div>-->
            </div>
            <div class="column2_vi">
                <div class="container_content"></div>

            <div class="modal hide">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <form action="#">
                            <div data-close class="modal__close">&times;</div>
                            <div class="modal__title">Редактирование таблицы</div>
                            <!-- <input required placeholder="Ваше имя" name="name" type="text" class="modal__input">
                             <input required placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input"> -->
                            <button class="btn btn_dark btn_min">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </main>




{% endblock %}
